@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --azul: #00081c;
    --azul-claro: #61B5B8;
    --branco: #fff;
    --cinza-claro: rgba(125, 125, 125, 0.2);
}
* {
    margin: 0;
    padding: 0;
    font-family:'Poppins';
    color: var(--branco);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
}

h2 {
    font-size: 30px;
}

button {
    cursor: pointer;
}

.botaoPadrao {
    background-color: var(--azul);
    border: none;
    padding: 10px;
    border-radius: 8px;
}

.botaoPadrao:hover {
    cursor: pointer;
    background-color: #000b28;

    transition: ease .5s;
}